---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Green Software Foundation"
	description="The manifesto of the Green Software Foundation"
	pubDate={new Date('August 29 2024')}
	heroImage="/blog-placeholder-about.png"
>
	<p>
		The Green Software Foundation’s Manifesto is the public facing declaration of the policy and aims of the Foundation. It describes the set of core values of the Foundation and how we operationalize those values. It is used to both inform and guide the decisions and behaviors of the people inside the Foundation and signal to external stakeholders what's important to the Foundation.
	</p>

	<h2>Mission</h2>
	<p>
		Build a trusted ecosystem of people, standards, tooling, and best practices for creating and building green software.
	</p>

	<h2>Vision</h2>
	<p>
		Change the culture of building software across the tech industry, so sustainability becomes a core priority to software teams, just as important as performance, security, cost, and accessibility.
	</p>

	<h2>Minimize Carbon</h2>
	<p>
		The Foundation's mission is to reduce the total change in global carbon emissions associated with software. When evaluating choices, we choose the option that advocates for abatement (reducing emissions) not neutralization (offsetting emissions).
	</p>
	<p><strong>Operationalize:</strong> We will consider how to minimize carbon emissions in every decision we make around how we conduct ourselves operationally and the standards and technology we create and use.</p>

	<h2>Maximize Trust</h2>
	<p>
		If there is no trust in the Foundation's output, it won't have the influence needed and will fail its core mission. When evaluating choices, we choose the option that increases trust in the Foundation.
	</p>
	<p><strong>Operationalize:</strong> We will have a diverse mix of organizations, for-profits, non-profits, government, and academia. Unless there is a good reason to maintain privacy, all documentation, threads, and processes will be open and transparent.</p>

	<h2>Engage with Empathy</h2>
	<p>
		Ensuring that all of our members and contributors feel that they can actively contribute will ensure that we create an environment that promotes belonging and will lead to better outcomes.
	</p>
	<p><strong>Operationalize:</strong> We will endeavor to listen actively before we respond, recognize when other group members are not participating, and make space for them to engage. We will acknowledge that everyone is at a different stage on their climate journey, and we will work to help our peers advance in their understanding and impact aligned with the mission of the Foundation. We will commit to providing direct, constructive feedback to our colleagues in our work to achieve the mission of the Green Software Foundation.</p>

	<h2>Be Inclusive and Open to All</h2>
	<p>
		Achieving the mission of the Green Software Foundation requires us to act with fairness to all members and be inclusive of diverse perspectives.
	</p>
	<p><strong>Operationalize:</strong> We will ensure digital accessibility throughout our organizational processes, communications channels, standard development, and code. Our working groups and steering committee will work via consensus. If we fail to reach a consensus on issues, then there is a vote. The organization's size does not matter. Each general and steering member organization has one vote each. Our steering committee will review any requests for resources that, on balance, benefit some member organizations over others. We will follow the Linux Foundation anti-trust policy.</p>

	<h2>Hold Ourselves Accountable</h2>
	<p>
		Accountability builds trust and ensures that all members, stakeholders, and contributors feel that the Green Software Foundation is a community where we uphold our values and ensure safety, professionalism, and inclusion.
	</p>
	<p><strong>Operationalize:</strong> We will always assume our colleagues are operating with the best intentions and working towards the Green Software Foundation mission. In the case that a member or contributor of the Green Software Foundation is engaging in any behaviors that are in conflict with our core values, reports can be made to Asim Hussain, Chairperson, at <a href="mailto:asim@greensoftware.foundation">asim@greensoftware.foundation</a>.</p>
</Layout>